div{
    /* height: 20vh; */
    background-color: orange;
    width: 50vw;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    display: flex;
    flex-direction: column;
}