div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}

h1 {
    border-bottom: 2px solid rgb(128, 150, 193);
    font-weight: 900;
    height: 140px;
    font-size: 15vh;
    color: rgb(243, 231, 215);
    margin-left: 155px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}